/* styles.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f2f2f2;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-item:hover .submenu {
  display: block;
}

/* mui */
.even-row {
  background-color: #f2f2f2; /* Light gray for even rows */
}

.odd-row {
  background-color: #ffffff; /* White for odd rows */
}
